.container {
  padding: 120px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  height: 800px;
}

.cta {
  top: 25%;
  position: sticky;
  text-align: center;
  flex-direction: column;
  padding: 50px;
}

.cta p {
  padding: 26px;
}

.cta div {
  text-align: center;
  max-width: 80ch;
  font-size: 30px;
  padding: 20px;
  background: black;
  border-radius: 16px;
  color: white;
}

.xd {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.relative {
  position: relative;
}

.high {
  height: 5500px;
}

.animated-img {
  position: sticky;
  top: 4%;
  display: flex;
  justify-content: center;
}

.content {
  position: sticky;
  color: white;
  text-align: center;
  max-width: 80ch;
  top: 35%;
  z-index: 1000;
}

.content h2 {
  line-height: 0.2;
  font-size: 60px;
}

.content p {
  font-size: 25px;
}
